body {
	background-color: #ecf0f1;
	font-family: 'Roboto', sans-serif;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.header {
	background-image: url(../img/header.jpg);
	width: 100%;
	height: 500px;
	background-size: cover;
	text-align: center;
}

h3 {
	color: #7f8c8d !important;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	text-align: center;
}

p {
	text-align: center;
	color: gray;
	font-size: 18px;
}

#search-form {
	text-align: center;
	margin: 10px auto ;
}

#query {
	width: 500px;
	height: 25px;
} 

#results {
	margin-top: 50px;
}

#search {
	background-color: #e74c3c;
	color: white;
	border: #e74c3c;
	width: 75px;
	height: 25px;
	margin-top: 30px;
}

.cover {
    width: 250px;
    height: 250px;
    display: inline-block;
    background-size: cover;
    margin: 5px;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}